html, body {
    background-color: black;
    overflow: hidden;
    color: white;
    background: no-repeat center fixed;
    background-size: cover;
    object-fit: cover;
    height: 100%;
}

#artwork {
    text-align: center;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    border: black;
    border-radius: 5px;
    align-items: center;
}

#artwork-img {
    width: 680px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
}

#dummybanner {
    height: 5%;
}

#meaningdiv {
    position: absolute;
    left: 12%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    width: 75%;
}
