#topbartrue {
    height: 6%;
    width: 100%;
}

html {
    height: 100%;
    width: auto;
}

body {
    background-color: #333;
    color: #ffffff;
    height: 100%;
    width: auto;
}

#rellod {
    display: flex;
    position: fixed;
    width: 100%;
    height: -100%;
}

#rellodhimself {
    height: 55px;
    width: 55px;
}

#unrellodhimself {
    height: 55px;
    width: 55px;
    filter: grayscale(1);
    display: none;
}

#setup {
    display: none;
    text-align: center;
}

#rellodmenu {
    position: fixed;
    z-index: 100;
    display: none;
    top: -1rem;
    left: -2rem;
    list-style: none;
    background-color: #262626;
    height: 100%;
    width: 220px;
}

#rellodmenu>img {
    width: 200px;
}

.rellodMenuButton {
    cursor: pointer;
    background-color: black;
    color: white;
    margin: 10px;
    text-align: center;
    font-size: 100%;
    height: 50px;
    width: 80%;
}

.rellodMenuButton:hover {
    cursor: pointer;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
}

#runField {
    background-color: #333333;
    color: white;
    margin: 2px;
    height: 30px;
    width: 400px;
}

#runButton {
    background-color: black;
    color: white;
    height: 30px;
    width: 40px;
}

#runButton:hover {
    background-color: white;
    color: black;
}

#runMenu {
    background-color: #262626;
    color: white;
    padding: 50px;
}

#runMenuDiv {
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 100;
    display: none;
}

#settings {
    text-align: center;
}

#settings >button {
    background-color: black;
    color: white;
}

#settings >button:hover {
    background-color: white;
    color: black;
}

.seubinChooser {
    color: white;
    background-color: black;
    width: 200px;
}

#booklist {
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.book {
    float: left;
    display: inline-block;
}

.book > p {
    overflow: ellipsis;
}

.bookIcon {
    margin: 7px;
}

.setupButton {;
    background-color: black;
    color: white;
    margin: 20px;
    text-align: center;
    font-size: 50px;
    height: 350px;;
    width: 30%;
    padding: 3px;
}

#setup-gender-img {
    width: 5%;
    height: auto;
}

#setup-end-button-agree {
    background-color: green;
    color: white;
    width: 80px;
    height: 80px;
    font-size: 20px;
    margin: 5px;
}

#setup-end-button-unagree {
    background-color: red;
    color: white;
    width: 80px;
    height: 80px;
    font-size: 20px;
    margin: 5px;
}
