@font-face {
    font-family: "sbn-font";
    src: url(/setup/seubin.sbfs/fonts/latin-cyrillic/Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

#topbartrue {
    height: 6%;
    width: 100%;
}

html {
    height: 100%;
    width: auto;
}

body {
    background-color: white;
    color: black;
    font-family: 'sbn-font';
    height: 100%;
    width: auto;
}

#rellod {
    display: flex;
    position: fixed;
    width: 100%;
    height: -100%;
}

#rellodhimself {
    height: 55px;
    width: 55px;
    border-radius: 55px;
    transition: all, 0.4s;
}

#rellodhimself:hover {
    box-shadow: 0 0 5px 3px rgba(255, 102, 0, 0.5);
}

#unrellodhimself {
    height: 55px;
    width: 55px;
    filter: grayscale(1);
    display: none;
}

#setup {
    display: none;
    text-align: center;
}

#rellodmenu {
    position: fixed;
    z-index: 100;
    display: none;
    top: -1rem;
    left: -2rem;
    list-style: none;
    background-color: #ddd;
    height: 100%;
    width: 220px;
}

#rellodmenu>img {
    width: 200px;
}

.rellodMenuButton {
    cursor: pointer;
    background-color: white;
    border: none;
    color: black;
    margin: 5px;
    text-align: center;
    font-size: 110%;
    height: 50px;
    width: 90%;
    transition: all, 0.4s;
}

.rellodMenuButton:hover {
    background-color: lightblue;
    font-size: 140%;
    border: none;
    color: black;
    text-align: center;
}

#runField {
    background-color: white;
    color: black;
    border: none;
    margin: 2px;
    height: 30px;
    width: 400px;
    border-radius: 4px;
}

#runButton {
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 40px;
}

#runButton:hover {
    background-color: lightblue;
    color: black;
    border: none;
}

#runMenu {
    background-color: #ddd;
    color: white;
    padding: 50px;
    border-radius: 5px;
}

#runMenuDiv {
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 100;
    display: none;
}

#settings {
    text-align: center;
}

#settings >button {
    background-color: #ddd;
    border: none;
    color: black;
    border-radius: 5px;
    transition: all, 0.4s;
}

#settings >button:hover {
    background-color: lightblue;
    font-size: 100%;
    border: none;
    color: black;
}

.seubinChooser {
    color: black;
    background-color: #ddd;
    width: 200px;
    border: none;
}

#booklist {
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.book {
    float: left;
    display: inline-block;
}

.book > p {
    overflow: ellipsis;
}

.bookIcon {
    margin: 7px;
    transition: all, 0.4s;
}

.bookIcon:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 10px rgba(255, 102, 0, 0.5);
}

.setupButton {;
    background-color: lightgray;
    border: none;
    border-radius: 30px;
    color: black;
    margin: 20px;
    text-align: center;
    font-size: 50px;
    height: 350px;;
    width: 30%;
    padding: 3px;
    transition: all, 0.4s;
}

.setupButton:hover {
    cursor: pointer;
    background-color: lightblue;
    border: none;
    border-radius: 35px;
    font-size: 60px;
    color: black;
    margin: 20px;
    text-align: center;
    padding: 3px;
}

#setup-gender-img {
    width: 5%;
    height: auto;
}

#setup-end-button-agree {
    background-color: green;
    border: none;
    color: white;
    width: 80px;
    height: 80px;
    font-size: 20px;
    border-radius: 30px;
    margin: 5px;
    transition: all, 0.4s;
}

#setup-end-button-unagree {
    background-color: red;
    border: none;
    color: white;
    width: 80px;
    height: 80px;
    font-size: 20px;
    border-radius: 30px;
    margin: 5px;
    transition: all, 0.4s;
}

#setup-end-button-agree:hover {
    background-color: #4DDA58;
    color: white;
}

#setup-end-button-unagree:hover {
    background-color: #F06A6A;
    color: white;
}

#seubinMobileControlsHomeButton {
    display: none;
}

@media only screen and (pointer: coarse) { /*Unfinished Mobile CSS*/
    #rellodhimself {
        display: none;
    }

    .appIcon {
        margin: 7px;
        width: 58px;
        height: 58px;
    }

    #seubinMobileControlsDiv {
        z-index: 99;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    #seubinMobileControls {
        align-items: center;
        background-color: transparent;
        display: flex;
        position: fixed;
        height: 10%;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    #seubinMobileControlsHomeButton {
        display: block;
    }

    #seubinMobileControls >button {
        border: none;
        background-color: transparent;
        background-image: url(/setup/seubin.sbfs/meting/home_icon.white.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 90%;
    }

    #seubinMobileControls >button:hover {
        background-image: url(/setup/seubin.sbfs/meting/home_icon.black.png);
        background-color: white;
        background-position: center;
    }
}

#tungField {
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 4px;
}

#tungFieldSetting {
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 4px;
}
