html, body {
    background-color: #333;
    color: black;
    height: 100%;
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
}


#steerdiv {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    left: 12%;
    width: 75%;
}

#steerdiv > input {
    background-color: white;
    color: black;
    width: 290px;
    height: 30px;
}

#steerdiv > button {
    background-color: white;
    color: black;
    height: 30px;
}

#resetButtons > button {
    background-color: white;
    color: black;
    height: 150px;
    width: 250px;
    margin: 5px;
}
